{% extends "base.html" %}
{% block inner %}
  <div class="articles">
    <div class="title-list">
      <div class="list-group">
        {% for post in posts %}
          <a href="{{ url_for('article',page=page,aid=post.id) }}" class="list-group-item">{{ post.title }}
            <span class="label label-info pub-date">{{ post.pub_date }}</span>
          </a>
        {% endfor %}
      </div>
    </div>
    {% for post in posts %}
      <div class="modal fade" id="modal-{{ post.aid }}" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">

          </div>
        </div>
      </div>
    {% endfor %}
    {% if pagination.pages >1 %}
      <ul class="pagination">
        <li>
          <a href="{% if pagination.has_prev %}{{ url_for('article',page=pagination.page - 1) }}{% else %}#{% endif %}"
             aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
        </li>
        {% for p in pagination.iter_pages() %}
          <li>
            <a href="{{ url_for('article',page=p) }}">{{ p }}</a>
          </li>
        {% endfor %}
        <li>
          <a href="{% if pagination.has_next %}{{ url_for('article',page=pagination.page + 1) }}{% else %}#{% endif %}"
             aria-label="Previous">
            <span aria-hidden="true">&raquo;</span></a>
        </li>
      </ul>
    {% endif %}
  </div>
{% endblock %}
